<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta author='Cristina Amico' type='text'>

    <title>Minimal Weather App - service provided by yr.no </title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/weather-icons.min.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="./font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/weather-icons-wind.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">


  </head>
  <body ng-controller="weatherController" ng-style= "{'background-color': getBg(YNoData.weatherdata.forecast.tabular.time[0].symbol.number)[1]}">

    <!-- Container -->
    <main ng-cloak>
        <nav>
            <span>Search:</span>
            <form ng-submit="searchBar(query)">
                <input type="text" name="input-place" ng-model="query" placeholder="London or Rome..." required >
            </form>
        </nav>

        <section class="spinner text-center" ng-hide="YNoData.dataRetrieved || place.knowLocation">
            <p> Retrieving data...</p>
            <i class="fa fa-spinner fa-spin"></i>
        </section>

       <section class="img-container" ng-show="place.knowLocation && YNoData.dataRetrieved"  ng-cloak>
            <div class="img-wrapper" ng-style= "{'background-image': getBg(YNoData.weatherdata.forecast.tabular.time[0].symbol.number)[0]}">
               <div class="current">
                   <span id="place">{{place.display}}</span>
                   <span><button name="toggle" ng-click="toggleUnits()"> {{isCelsius && "°F" || "°C"}}   </button> </span>

                   <div class="main">
                       <h1 class="main-icon"><i class="wi" ng-class="getWeatherIcon(YNoData.weatherdata.forecast.tabular.time[0].symbol.number)"></i></h1>

                       <h1 class="main-temp">{{isCelsius && YNoData.weatherdata.forecast.tabular.time[0].temperature.value || YNoData.weatherdata.forecast.tabular.time[0].temperature.farhenheit}} {{isCelsius && "°C" || "°F"}} </h1>
                       <h1 class="main-press">{{YNoData.weatherdata.forecast.tabular.time[0].pressure.value}} {{YNoData.weatherdata.forecast.tabular.time[0].pressure.unit}}</h1>

                       <h1 class="main-icon"> <i class="wi wi-wind" ng-class="getWindIcon(YNoData.weatherdata.forecast.tabular.time[0].windDirection.code)"></i></h1>
                       <h1>
                        <span>{{YNoData.weatherdata.forecast.tabular.time[0].windDirection.code}}</span>
                        <span>{{YNoData.weatherdata.forecast.tabular.time[0].windSpeed.mps}} m/s</span>
                        </h1>
                    </div>
                </div> <!-- current -->
            </div> <!-- img-wrapper -->
        </section>

         <section class="error-msg" ng-show="!place.knowLocation" ng-cloak>
            <p ng-hide="place.knowLocation">Sorry, it was not possible to retrieve your location; try to disable your adblocker.
            </p>
            <!-- <p ng-show="!YNoData.dataRetrieved" >Sorry, it was not possible to retrieve the weather data for the selected location</p> -->
        </section> <!-- error-msg -->


        <div class="container" ng-hide= "!place.knowLocation || !YNoData.dataRetrieved">
            <div class="forecast">
               <h3>Next 36 hours:</h3>

                <ul>
                    <li ng-repeat="period in YNoData.next36h">
                    <i id="li-icon" class="wi" ng-class="getWeatherIcon(period.symbol.number)"></i>
                     <p class="temp">
                        <span>{{isCelsius && period.temperature.value || period.temperature.farhenheit }} {{isCelsius && "°C" || "°F"}} ~ </span>
                        <span>{{period.pressure.value}} {{period.pressure.unit}}</span>
                    </p>
                    <p class="datetime"> {{period.from | date:'EEE d MMM HH:mm' }} </p>

                    <p class="wind">
                        <i class="wi wi-wind" ng-class="getWindIcon(period.windDirection.code)"></i>
                        <span>{{period.windDirection.code}}</span>
                        <span>{{period.windSpeed.mps}} m/s</span>
                    </p>
                    </li>

                </ul>
            </div>


        </div><!-- container -->

         <footer>
           <p class="credits"><a href="{{ YNoData.weatherdata.credit.link['url']}}">{{ YNoData.weatherdata.credit.link["text"]}}</a> </p>
           <p class="author">Created by <a href="https://criamico.github.io">criamico</a> - 2016</p>
       </footer>
    </main>


    <!-- Add Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

    <!-- Add angular module, services and controller  -->
    <script src="app/weatherApp.js"></script>
    <script src="app/weather-service.js"></script>
    <script src="app/ipinfo-service.js"></script>
    <script src="app/geocoder-service.js"></script>
    <script src="app/weather-controller.js"></script>
  </body>
</html>